<div class="form-search">
    <div class="form-search-content">
        <div class="form-search-close">
            <button class="btn" (click)="closeSearch()">
                <fa-icon [icon]="faClose"></fa-icon>
            </button>
        </div>
        <form (submit)="searchTicket()">
            <div class="form-search-header">
                <div class="form-search-input">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    <input type="text" name="term" id="term" [(ngModel)]="searchTerm" (input)="searchTicket()">
                    <fa-icon [icon]="faClose" *ngIf="searchTerm" (click)="searchTerm = ''"></fa-icon>
                </div>
                <div class="form-search-description">
                    <p>Busque por: ID, Titulo ou Solicitante</p>
                </div>
            </div>
        </form>
    </div>

    <div class="form-search-result"> 
        <div class="loading" *ngIf="loading">
            <p>Buscando...</p>
        </div>
        <div class="form-search-list">
            <div class="form-search-list-result" *ngIf="result.length > 0">
                <div class="form-search-item" *ngFor="let ticket of result" [routerLink]="['/ticket/', ticket.id]" (click)="closeSearch()">
                    <div class="form-search-title">
                        <h3>#{{ ticket.id }} {{ ticket.titulo}}</h3>
                        <div class="form-search-status urgente">
                            <div>
                                <span>Prioridade</span>
                                <p>{{ ticket.prioridade }}</p>
                            </div>
                            <div>
                                <span>Status</span>
                                <p>{{ ticket.status }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-search-body">
                        <p>{{ ticket.descricao.length > 80 ? ticket.descricao.slice(0,80) + '...' : ticket.descricao }}</p>
                    </div>
                    <div class="form-search-footer">
                        <span>Solicitante: {{ ticket.solicitante }}</span>
                        <span>Criado em: {{ ticket.criado_em | date: 'dd/MM/yyyy' }} </span>
                    </div>
                </div>
            </div>
            <div *ngIf="result.length === 0 && searchTerm !== '' && !loading" class="result-notfound">
                <p>Nenhum resultado encontrado.</p>
            </div>
        </div>
    </div>
</div>
