<section class="home">
    <div class="list">
        <div class="list-header">
            <div class="list-header-item">
                <span>Tickets</span>
                <p>{{ ticketResult.total > 0 ? ticketResult.total : 0 }}</p>
            </div>
            <div class="list-header-item">
                <span>Tickets Ativos</span>
                <p>{{ ticketResult.total > 0 ? ticketResult.total : 0 }}</p>
            </div>
            <div class="list-header-item">
                <span>Tickets Inativos</span>
                <p>{{ ticketResult.total > 0 ? ticketResult.total : 0 }}</p>
            </div>
        </div>
        <div class="list-content">
            <table>
                <thead>
                    <tr>
                        <th id="id-table"><p>#</p></th>
                        <th><p>Titulo</p></th>
                        <th><p>Descrição</p></th>
                        <th><p>Prioridade</p></th>
                        <th><p>Solicitante</p></th>
                        <th><p>Prazo</p></th>
                        <th><p>Status</p></th>
                        <th><p>Criado</p></th>
                        <th><p>Atualizado</p></th>
                    </tr>
                </thead>
                <tbody *ngIf="ticketResult && ticketResult.tickets.length > 0">
                    <tr *ngFor="let item of ticketResult.tickets" (click)="redirectTicket(item)">
                      <th>{{ item.id }}</th>
                      <td>{{ item.titulo }}</td>
                      <td>{{ item.descricao.length > 35 ? item.descricao.slice(0,35) + '...' : item.descricao }}</td>
                      <td id="prioridade-table"><span [class]="item.prioridade.toLowerCase()">{{ item.prioridade }}</span></td>
                      <td>{{ item.solicitante }}</td>
                      <td>{{ item.prazo_ate | date }}</td>
                      <td id="status-table"><span [class]="item.status.toLowerCase()">{{ item.status }}</span></td>
                      <td>{{ item.criado_em | date }}</td>
                      <td>{{ item.atualizado_em | date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>