.create {
    padding: 1rem;
    max-width: 50rem;
    margin: auto;

    .create-content{
        border: 1px solid var(--color-gray);
        padding: 1rem;
        border-radius: var(--border-radius);
    }
}