<header>
    <div class="logo">
        TicketHub
    </div>
    <div class="perfil">
        <div class="perfil-avatar" (click)="openDropdown()">
            <img src="https://cdn-icons-png.freepik.com/512/147/147144.png">
        </div>
        <div class="perfil-menu" *ngIf="menuOpen">
            <div class="perfil-menu-header" >
                <span>Davi Milioli</span>
                <p>davi&#64;gmail.com</p>
            </div>
            <div class="perfil-menu-list">
                <ul>
                    <li><a href="">Informações de conta</a></li>
                    <li><a href="">Atividades</a></li>
                    <li>Sair</li>
                </ul>
            </div>
        </div>
<!--         <div class="perfil-description">
            <span>Davi Milioli</span>
        </div>
        <fa-icon [icon]="faChevronDown"></fa-icon> -->

    </div>
</header>